* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

:root {
    --purple-200: #9a7bd1;
    --purple-500: #6b36c8;
    --purple-800: #441f88;

    --black-800: #171717;

    --gray-200: #cccccc;
    --gray-400: #505861;

    --white: #F9F9F9;
}

html {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    background: var(--gray-200);
    color: var(--black-800);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button,
a {
    cursor: pointer;
}

.botao {
    text-align: center;
    padding: 12px 32px;
    background: none;
    border: 1px solid var(--purple-800);
    color: var(--purple-800);
    border-radius: 10px;
    font-weight: 700;
}

.botao:hover {
    background: var(--purple-800);
    color: var(--white);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_container {
    height: 80px;
    position: sticky; 
    top: 0; 
    width: 100%; 
    background-color: var(--purple-800);
    border-bottom: 1px solid var(--purple-500);
    filter: opacity(0.9);  
}

.menu_container a {
    font-size: 16px;
    color: var(--white);
    font-weight: bold;
}

.menu_container a:hover {
    color: var(--purple-200);
}

.menu_content {
    max-width: 1120px;
    padding: 0 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu_lista {
    list-style: none;
    text-align: center;
}

.menu_lista li {
    margin: 0 0 0 16px;
}

#menu_content_sucess {
    max-width: 1120px;
    padding: 0 24px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.home_container {
    max-width: 1120px;
    margin: 16px auto; 
    padding: 0 16px;  
    height: calc(100vh - 100px);    
    display: flex;
    justify-content: center;    
    align-items: center;        
}

.home_container p,
h1,
h4 {
    text-align: center;
    font-size: 16px;
}

.home_container h4 {
    font-weight: bold;
    margin: 16px 0;
}

.home_container h1 {
    font-size: 36px;
    line-height: 48px; 
    font-weight: bold;
}

.home_container p {
    margin: 16px 0;
}

.home_container .botao {
    width: 40%; 
}

.home_content {
    width: 50vw;    

    display: flex;
    justify-content: center;    
    align-items: center;       
    flex-direction: column;
}

.home_content_img {
    display: flex;
    width: 75%; 
}

.sobre_container {
    max-width: 1120px;
    margin: -24px auto; 
    padding: 0 16px;
    height: 100vh;

    display: flex;
    justify-content: center;    
    align-items: center;        
}

.sobre_container img {
    display: flex;
    width: 35%;
    border: 5px solid var(--purple-500);
    border-radius: 50%;
}

.sobre_container h1 {
    font-size: 32px;
    text-align: center;
    line-height: 48px;
    font-weight: bold;
}

.sobre_container p {
    text-align: center;
    margin: 16px 0;
}

.sobre_github {
    justify-content: space-evenly; 
}

#sobre_texto{
    margin-left: 30px;
}

.contato_container {
    max-width: 1120px;
    margin: 64px auto 32px;
    padding: 0 32px;

    display: grid;              
    grid-template-columns: repeat(auto-fill, 518px);
    justify-content: center;    
    align-items: center;       
    gap: 20px;  
}

.contato_container h4 {
    font-size: 32px;
    font-weight: bold;
    margin: 16px 0;
}

.contato_content {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     

    margin: 64px 0 0 0;
    font-size: 20px;
}

.contato_content p {
    display: block;
    text-align: justify;
}

.social_container {
    display: flex;
    justify-content: space-evenly; 
    margin: 32px 0 0 0;
    width: 320px;
}

.social_icon {
    width: 75px;
    height: 75px;
}

.social_icon:hover {  
    filter: brightness(0) saturate(100%) invert(20%) sepia(24%) saturate(4557%) hue-rotate(242deg) brightness(89%) contrast(108%);
}

form {
    display: flex;
    flex-direction: column;
    width: 480px;

    margin: 112px 0 0 0;
    padding: 24px;
    border: none;
}

form label {
    font-size: 20px;
    text-align: left;
}

form input,
textarea {
    margin: 8px 0 16px;
    padding: 8px;
    border-radius: 20px;
    border: none;
    width: 100%;
    font-size: 16px;
}

textarea {
    resize: none;
}

form span{
    margin-bottom: 8px;
    margin-left: 12px;
    font-size: 12px;
    line-height: 16px;
    color: red;
}

footer {
    margin: 0;
    padding: 32px;
    color: var(--white);
    background-color: var(--purple-500);
    filter: opacity(0.9);
    font-weight: bold;
    text-align: center;
}